# configuration for installing node exporter on beanstalk

# getting node exporter

sources:
  /opt: https://github.com/prometheus/node_exporter/releases/download/v0.18.1/node_exporter-0.18.1.linux-amd64.tar.gz

# create service file for node_exporter
files:
  "/tmp/node_exporter":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
        #!/bin/bash
        #
        # /etc/rc.d/init.d/node_exporter
        #
        #  Prometheus node exporter
        #
        #  chkconfig: 345 99 01
        #  description: Prometheus node exporter
        #  processname: node_exporter
        # Source function library.
        . /etc/rc.d/init.d/functions
        PROGNAME=node_exporter
        PROG=/opt/prometheus/$PROGNAME
        USER=root
        LOGFILE=/var/log/prometheus.log
        LOCKFILE=/var/run/$PROGNAME.pid
        start() {
        echo -n "Starting $PROGNAME: "
            daemon --user $USER --pidfile="$LOCKFILE" "$PROG &>$LOGFILE &"
        echo $(pidofproc $PROGNAME) >$LOCKFILE
        echo
        }
        stop() {
        echo -n "Shutting down $PROGNAME: "
            killproc $PROGNAME
            rm -f $LOCKFILE
        echo
        }
        case "$1" in
            start)
            start
            ;;
            stop)
            stop
            ;;
            status)
            status $PROGNAME
            ;;
            restart)
            stop
            start
            ;;
            reload)
        echo "Sending SIGHUP to $PROGNAME"
        kill -SIGHUP $(pidofproc $PROGNAME)#!/bin/bash
            ;;
        *)
        echo "Usage: service node_exporter {start|stop|status|reload|restart}"
        exit 1
            ;;
        esac


#start deamon
container_commands:
  00_stop_service:
    test: "/sbin/service node_exporter stop"
    command: "/sbin/service node_exporter stop"
  01_replace_service:
    command: "mv /tmp/node_exporter /etc/init.d/"
  02_make_folder:
    command: "mkdir -p /opt/prometheus"
  03_move_bin:
    command: "mv /opt/node_exporter-0.18.1.linux-amd64/node_exporter /opt/prometheus/"
  04_enable_service:
    command: "/sbin/chkconfig node_exporter on"
  05_start_service:
    command: "/sbin/service node_exporter start"


