# configuration for installing prometheus process exporter on beanstalk

# getting process exporter

sources:
  /opt: https://github.com/ncabatoff/process-exporter/releases/download/v0.5.0/process-exporter-0.5.0.linux-amd64.tar.gz 

# create service file for process-exporter
files:
  "/tmp/process-exporter":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
        #!/bin/bash
        #
        # /etc/rc.d/init.d/process-exporter
        #
        #  Prometheus process exporter
        #
        #  chkconfig: 345 99 01
        #  description: Prometheus process exporter
        #  processname: process-exporter
        # Source function library.
        . /etc/rc.d/init.d/functions
        PROGNAME=process-exporter
        PROG=/opt/prometheus/$PROGNAME
        USER=root
        LOGFILE=/var/log/prometheus.log
        LOCKFILE=/var/run/$PROGNAME.pid
        start() {
        echo -n "Starting $PROGNAME: "
            daemon --user $USER --pidfile="$LOCKFILE" "$PROG -config.path /opt/prometheus/config/processes.yaml &>$LOGFILE &"
        echo $(pidofproc $PROGNAME) >$LOCKFILE
        echo
        }
        stop() {
        echo -n "Shutting down $PROGNAME: "
            killproc $PROGNAME
            rm -f $LOCKFILE
        echo
        }
        case "$1" in
            start)
            start
            ;;
            stop)
            stop
            ;;
            status)
            status $PROGNAME
            ;;
            restart)
            stop
            start
            ;;
            reload)
        echo "Sending SIGHUP to $PROGNAME"
        kill -SIGHUP $(pidofproc $PROGNAME)#!/bin/bash
            ;;
        *)
        echo "Usage: service process-exporter {start|stop|status|reload|restart}"
        exit 1
            ;;
        esac

  "/opt/prometheus/config/processes.yaml":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
        process_names:
          - name: "{{.Comm}}"
            cmdline:
            - '.+'

#start deamon
container_commands:
  00_stop_service:
    test: "/sbin/service process-exporter stop"
    command: "/sbin/service process-exporter stop"
  01_replace_service:
    command: "mv /tmp/process-exporter /etc/init.d/"
  02_make_folder:
    command: "mkdir -p /opt/prometheus"
  03_move_bin:
    command: "mv /opt/process-exporter-0.5.0.linux-amd64/process-exporter /opt/prometheus/"
  04_enable_service:
    command: "/sbin/chkconfig process-exporter on"
  05_start_service:
    command: "/sbin/service process-exporter start"

